<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLAGS ARE HERE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main2.css') }}">

</head>
<body>
    <section class="h-100 gradient-form" style="background-color: rgb(83, 83, 83);">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-white" style="background-color: rgb(143, 141, 141);">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
      
                      <div class="text-center">
                        <img src="../static/design/white_flag.jpg"
                          style="width: 185px;" alt="logo"> 
                        <h4 class="mt-1 mb-5 pb-1">There's a flag here!</h4>
                      </div>
      
                      <form action="/enter" method="POST">
                        <p>Please login to your account to get a flag</p>
      
                        <div class="form-outline mb-4">
                          <input type="text" id="form2Example11" class="form-control" placeholder="Your login" name="login"/>
                          <label class="form-label" for="form2Example11">Username</label>
                        </div>
      
                        <div class="form-outline mb-4">
                          <input type="password" id="form2Example22" class="form-control" placeholder="Your password" name="password"/>
                          <label class="form-label" for="form2Example22">Password</label>
                        </div>
      
                        <div class="text-center pt-1 mb-5 pb-1">
                          <button class="btn btn-primary btn-block fa-lg gradient-custom-1 mb-3" type="submit">Login</button>
                          <a class="text-muted" href="/forget">Forgot password?</a>
                        </div>
      
                        <div class="d-flex align-items-center justify-content-center pb-4">
                          <p class="mb-0 me-2">Don't have an account?</p> 
                          <a href="/create"><button type="button" class="btn btn-primary fa-lg gradient-custom-1" href="/create">Create new</button> </a>
                        </div>
      
                      </form>
      
                    </div>
                  </div>
                  <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                      <h4 class="mb-4">WELCOME TO HELL: ROUGH WEBSITE V2</h4>
                      <p class="small mb-0">IT WILL NOT BE EASY THIS TIME. LAST TIME ONLY SPECIAL PLAYERS COULD SOLVE V1 <p>JUST GIVE UP, AND TRY TO SOLVE ANOTHER TASK, KID</p> </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--TODO: delete debug true mode via user admin-->
      </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>
